.negative-10 {
  background-color: #ff0000;
}
.positive-10 {
  background-color: #08ff00;
}
.negative-9 {
  background-color: #ff1a1a;
}
.positive-9 {
  background-color: #21ff1a;
}
.negative-8 {
  background-color: #ff3333;
}
.positive-8 {
  background-color: #3aff33;
}
.negative-7 {
  background-color: #ff4d4d;
}
.positive-7 {
  background-color: #52ff4d;
}
.negative-6 {
  background-color: #ff6666;
}
.positive-6 {
  background-color: #6bff66;
}
.negative-5 {
  background-color: #ff8080;
}
.positive-5 {
  background-color: #84ff80;
}
.negative-4 {
  background-color: #ff9999;
}
.positive-4 {
  background-color: #9cff99;
}
.negative-3 {
  background-color: #ffb3b3;
}
.positive-3 {
  background-color: #b5ffb3;
}
.negative-2 {
  background-color: #ffcccc;
}
.positive-2 {
  background-color: #ceffcc;
}
.negative-1 {
  background-color: #ffe5e5;
}
.positive-1 {
  background-color: #e6ffe5;
}
.negative-0 {
  background-color: #ffffff;
}
.positive-0 {
  background-color: #ffffff;
}
