.negative-bg-10 {
  background-color: #ff0000;
}
.positive-bg-10 {
  background-color: #08ff00;
}
.negative-bg-9 {
  background-color: #ff1a1a;
}
.positive-bg-9 {
  background-color: #21ff1a;
}
.negative-bg-8 {
  background-color: #ff3333;
}
.positive-bg-8 {
  background-color: #3aff33;
}
.negative-bg-7 {
  background-color: #ff4d4d;
}
.positive-bg-7 {
  background-color: #52ff4d;
}
.negative-bg-6 {
  background-color: #ff6666;
}
.positive-bg-6 {
  background-color: #6bff66;
}
.negative-bg-5 {
  background-color: #ff8080;
}
.positive-bg-5 {
  background-color: #84ff80;
}
.negative-bg-4 {
  background-color: #ff9999;
}
.positive-bg-4 {
  background-color: #9cff99;
}
.negative-bg-3 {
  background-color: #ffb3b3;
}
.positive-bg-3 {
  background-color: #b5ffb3;
}
.negative-bg-2 {
  background-color: #ffcccc;
}
.positive-bg-2 {
  background-color: #ceffcc;
}
.negative-bg-1 {
  background-color: #ffe5e5;
}
.positive-bg-1 {
  background-color: #e6ffe5;
}
.negative-bg-0 {
  background-color: #ffffff;
}
.positive-bg-0 {
  background-color: #ffffff;
}
