@positive-bg:  hsla(118, 100%, 50%, 1);
@negative-bg:  hsla(360, 100%, 50%, 1);

.make-some(@n) when (@n >= 0) {
  .negative-@{n} {
      background-color: lighten(@negative-bg, (5 - @n) * 10%);
      font-size:  (1em + @n * 4/5);

  }
  .positive-@{n} {
      background-color: lighten(@positive-bg, (5 - @n) * 10% );
      font-size:  (1em + @n * 4/5);
  }
  .make-some(@n - 1);
}

.make-some(5);
